<div class="char_sheet" id="<%= dom_id char_sheet %>">
  <%= link_to char_sheet.char_name, char_sheet_path(char_sheet) %>
  <div class="char_sheet__actions">
    <%= link_to "Edit",
                edit_char_sheet_path(char_sheet),
                class: "btn btn--light" %>
    <%= button_to "Delete",
                  char_sheet_path(char_sheet),
                  method: :delete,
                  class: "btn btn--light" %>
  </div>
</div>
