<div id="<%= dom_id char_sheet %>">
  <p>
    <strong>Player name:</strong>
    <%= char_sheet.player_name %>
  </p>

  <p>
    <strong>Char name:</strong>
    <%= char_sheet.char_name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= char_sheet.race %>
  </p>

</div>
