<%# app/views/char_sheet/_form.html.erb %>

<%= simple_form_for char_sheet, html: { class: "char_sheet form" } do |f| %>
  <% if char_sheet.errors.any? %>
    <div class="error-message">
      <%= char_sheet.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>