<h1>Editing char sheet</h1>

<%= render "form", char_sheet: @char_sheet %>

<br>

<div>
  <%= link_to "Show this char sheet", @char_sheet %> |
  <%= link_to "Back to char sheets", char_sheets_path %>
</div>
