<main class="container">
  <%= link_to sanitize("&larr; Back to your Character Sheets"), char_sheets_path %>

  <div class="header">
    <h1>Edit Character</h1>
    <%= @char_sheet %>
  </div>

  <%= render "form", char_sheet: @char_sheet %>
</main>
