<p style="color: green"><%= notice %></p>

<h1>Char sheets</h1>

<div id="char_sheets">
  <% @char_sheets.each do |char_sheet| %>
    <%= render char_sheet %>
    <p>
      <%= link_to "Show this char sheet", char_sheet %>
    </p>
  <% end %>
</div>

<%= link_to "New char sheet", new_char_sheet_path %>
