<main class="container">
  <div class="header">
    <h1>Character Sheets</h1>
    <%= link_to "New character sheet", new_char_sheet_path, class: "btn btn--primary" %>
  </div>
  <hr>
  <br>
  <%= render @char_sheets %>

</main>