<main class="container">
  <%= link_to sanitize("&larr; Back to your Character Sheets"), char_sheets_path %>

  <div class="header">
    <h1>New Character</h1>
    <input type="submit" form="new_char_sheet" class="btn btn--secondary" value="Create character sheet">
  </div>

  <%= render "form", char_sheet: @char_sheet %>
</main>
