<%= render @char_sheet %>

<div>
  <%= link_to "Edit this char sheet", edit_char_sheet_path(@char_sheet) %> |
  <%= link_to "Back to char sheets", char_sheets_path %>

  <%= button_to "Delete this char sheet", @char_sheet, method: :delete, class: "btn btn--dark" %>
</div>
