<%# app/views/quotes/show.html.erb %>

<main class="container">
  <%= link_to sanitize("&larr; Back to your Characters"), char_sheets_path %>
  <div class="header">
    <h1>
      <%= @char_sheet.name %>
    </h1>
  </div>
</main>