// app/assets/stylesheets/components/_char_sheet.scss

.char_sheet {
  display: inline-grid;
  grid-template-rows: 15% 15% 35% 35%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "meta meta meta"
                        "scores scores scores"
                        "combat features backstory"
                        "equipment features backstory";
  gap: var(--space-xs);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

}


.meta-info {
  grid-area: meta;
}

.ability-scores {
  grid-area: scores;
}

.equipment {
  grid-area: equipment;
}

.combat {
  grid-area: combat;
}

.features {
  grid-area: features;
}

.backstory {
  grid-area: backstory;
}