// app/assets/stylesheets/components/_char_sheet.scss

.char_sheet {
  display: inline-grid;
  grid-template-rows: 15% 15% 35% 35%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "meta meta meta"
                        "scores scores scores"
                        "combat features backstory"
                        "equipment features backstory";
  gap: var(--space-xs);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

}


.meta-info,
.ability-scores {
  grid-area: meta;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
}

.meta-fields {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ability-scores {
  grid-area: scores;
}

.score-fields {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.score-fields>div {
  margin: 1%;
}

.score-fields>div>input {
  width: 100%;
  height: 100%;
}

.equipment {
  grid-area: equipment;
}

.combat {
  grid-area: combat;
}

.features {
  grid-area: features;
}

.backstory {
  grid-area: backstory;
}